<h2 class="theme"><%= t('.login') %></h2>
<div class="newbox">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, t('.email') %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t('.password') %><br/>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t('.skip to enter password next time') %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Login/ログイン", class: "submit-btn" %>
  </div>
<% end %>
<br>
<p><%= t('.or') %></p>  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.hidden_field :email, :value => 'ml@example.com' %>
  <%= f.hidden_field :password, :value => 'ml@example.com' %>
  <%= f.submit "簡単ログイン", class: "submit-btn" %>
<% end %>
</div>
