<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>みやログ</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <a href="/index" ><img src="/miyaloglogo.png" class="icon" ></a>
          <div class="dropdown">
            <button type="button" id="dropdown1"
              class="btn btn-secondary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <%= t('.menu') %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <% if user_signed_in? %>
                <a class="dropdown-item" href="#"><%= t('.user name') %>： <%= current_user.email %></a>
                <a class="dropdown-item" href="#"><%= link_to t('.edit user'), edit_user_registration_path %></a>
                <a class="dropdown-item" href="#"><%= link_to t('.sign out'), destroy_user_session_path %></a>                
  　           <% else %>
                <a class="dropdown-item" href="#"><%= link_to t('.top page'), root_path %></a>
                <a class="dropdown-item" href="#"><%= link_to t('.create new user'), new_user_registration_path %></a>
                <a class="dropdown-item" href="#"><%= link_to t('.login'), new_user_session_path %></a>
              <% end %>
            </div>
            <% if I18n.locale.to_s == "en" %>
              <%= link_to('⇄ 日本語', :locale => 'ja') %>
            <% else %>
              <%= link_to('⇄ English', :locale => 'en') %>
            <% end %>
          </div>
        </nav>
      </header>
      <%= yield %>
      <footer>
      </footer>
    </div>
  </body>
</html>